<p>categories works!</p>
<div class="panel panel-default">  
    <div class="panel-heading">  
        <h1 style="text-align: center">Categories</h1><br>  
        <div class="row" [hidden]="!deleteMessage">  
               
                  <div class="col-sm-4"></div>  
                  <div class="col-sm-4">  
                          <div class="alert alert-info alert-dismissible">  
                                  <button type="button" class="close" data-dismiss="alert">×</button>  
                                  <strong>Category Data Deleted</strong>  
                          </div>  
                  </div>  
                  <div class="col-sm-4"></div>  
          </div>             
      </div>  
    
      
    <div class="panel-body">  
        <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"  
        [dtTrigger]="dtTrigger"  >  
            <thead class="thead-light">  
                <tr>  
                    <th>ID</th>  
                    <th>Category Name</th>  
                    <th>Category Description</th>  
                    <th>Category Icon</th>  
                    <th>Action</th>  
                      
                </tr>  
            </thead>  
            <tbody>  
                 <tr *ngFor="let category of categories "> 
                    <td>{{category.categoryid}}</td>   
                    <td>{{category.categoryname}}</td>  
                    <td>{{category.categorydescription}}</td>  
                    <td>{{category.categoryicon}}</td>  
                    <td><button (click)="deleteCategory(category.studentid)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>   
                      <button (click)="updateCategory(category.categoryid)" class='btn btn-info'  
                      data-toggle="modal" data-target="#myModal">Update</button>  
                    </td>  
                  </tr>   
            </tbody><br>  
        </table>  
    </div>  
  </div>   
    
  <div class="modal" id="myModal">  
          <div class="modal-dialog">  
            <div class="modal-content">  
                  <form [formGroup]="categoryupdateform" #updstu (ngSubmit)="updateStu(updstu)">  
              <!-- Modal Header -->  
              <div class="modal-header">  
                <h4 class="modal-title" style="text-align: center">Update Category</h4>  
                  
              </div>  
                
              <!-- Modal body -->  
              <div class="modal-body" *ngFor="let category of categorylist " >  
                  <div [hidden]="isupdated">  
    
                      <input type="hidden" class="form-control"  formControlName="category_id" [(ngModel)]="category.categoryid">  
                              <div class="form-group">  
                                  <label for="name">Category Name</label>  
                                  <input type="text" class="form-control"  formControlName="category_name" [(ngModel)]="category.categoryname"  >  
                              </div>  
                        
                              <div class="form-group">  
                                  <label for="name">Category Description</label>  
                                  <input type="text" class="form-control" formControlName="category_description" [(ngModel)]="category.categorydescription">  
                              </div>  
                        
                              <div class="form-group">  
                                  <label for="name">Category Icon</label>  
                                    <select class="form-control" formControlName="category_icon" required>                                     
                                      <option value="C-DEV" [selected]="'C-DEV' == category.categoryicon">C-DEV</option>  
                                      <option value="C-AI" [selected]="'C-AI' == category.categoryicon">C-AI</option>  
                                      <option value="C-NET" [selected]="'C-NET' == category.categoryicon" >C-NET</option>  
                                      <option value="C-Tech" [selected]="'C-Tech' == category.categoryicon">C-Tech</option>  
                                    </select>                                 
                              </div>                     
                    </div>    
                    <div [hidden]="!isupdated">  
                        <h4>Ctegory Detail Updated!</h4>  
                    </div>          
                        
              </div>  
                
              <!-- Modal footer -->  
              <div class="modal-footer" >  
                <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>  
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>  
              </div>  
                
          </form>  
            </div>  
          </div>  
        </div>  