<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 ">
            <div class="area">
                <div class="fieldsetLog bg-light">
                    <form #f="ngForm" (ngSubmit)="onlogin(f.value)">

                        <div class="heading">
                            <h4 class="form-heading">Sign In</h4>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="CardID">Email</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="email" [(ngModel)]="email" required/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="password">Password</label>
                            <div class="controls">
                                <input class="form-control" type="password" name="password" [(ngModel)]="password" required/>
                            </div>
                        </div>
                            <div class="control-group mt-3">
                                <div class="controls">
                                    <button class="btn btn-block btn-dark" type="submit" [disabled]="!f.valid">sign in </button>
                                </div>
                            </div>
                            
                    </form>
                </div>
            </div>
        </div>
    </div>
 </div>
