<nav class="navbar navbar-expand-sm bg-highlight navbar-dark">  
    <ul class="navbar-nav">  
      <li class="nav-item ">  
        <a (click)="onHome()" class="nav-link" class="btn btn-outline-warning mr-2 text-dark" role="button" >home</a>  
      </li>
      <li class="nav-item ">  
        <a (click)="onQuizesButton()" class="nav-link" class="btn btn-outline-warning mr-2 text-dark" role="button" >View Quizes</a>  
      </li>   
      <li class="nav-item">  
        <a  (click)="onAddQuizesButton()" class="nav-link" class="btn btn-outline-warning mr-2 text-dark" role="button" >Add Quiz</a>  
      </li>      
    </ul>  
  </nav> 
