<app-app-header></app-app-header>
<div class="row">
    <div class="col-md-9">
    <div class="card">
    
      <div class="card-header">New Answer</div>
      <div class="card-body">
    
    <form #f="ngForm" (ngSubmit)="onSaveAnswer(f.value)">
    
      <div class="form-group">

    <label class="control-label">Answer Text:</label>
    <input class="form-control" type="text" name="text" [(ngModel)]="text" required/>
      </div>
    
    <button class="btn btn-block btn-warning"  type="submit" [disabled]="!f.valid">save</button>